<%- include header %>
   <div class="content-reg-section">
   <% if(success){ %>
   <div><%= success %>
   <% }%>
   <% if(error){ %>
   <div><%= error %></div>
   <% } %>
    <form method="post" action="/reg">
     <p>用户注册</p>
     <input type="text" name="name" placeholder="请输入用户名">
     <input type="text" name="email" placeholder="请输入邮箱">
     <input type="password" name="password" placeholder="请输入密码">
     <input type="password" name="password-repeat" placeholder="请重复输入密码">
     <button type="submit">注   册</button>
     </form>
    </div>
    <%- include footer %>